<!DOCTYPE html>
<html lang="en" ng-app="dash-demo">
<head>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="/static/bower_components/angular-chart.js/dist/angular-chart.css">

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/static/bower_components/Chart.js/Chart.min.js"></script>

    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script  src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <script src="/static/app/app.js"></script>
    <script src="/static/app/dashboard/dashboard.js"></script>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body onload="$('.datepicker').datepicker({})">
<nav class="nav navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
    </div>
</div>
</nav>
<div class="container" ng-controller="dashTestCtrl">
    <div class="row">
        <h3>Signups per {{ mode | unit}}</h3>

        <div class="col-md-5" >
            <input type="tpext" class="datepicker" data-date-format="yyyy-mm-dd" ng-model="startDate">
            to
            <input type="text" class="datepicker" data-date-format="yyyy-mm-dd" ng-model="endDate">
        </div>
        <div class="col-md-3">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="mode=0; redrawGraphs(rawData)" ng-class="{'active': (mode==0)}">Day</button>
                <button type="button" class="btn btn-default" ng-click="mode=1; redrawGraphs(rawData)" ng-class="{'active': (mode==1)}">Week</button>
                <button type="button" class="btn btn-default" ng-click="mode=2; redrawGraphs(rawData)" ng-class="{'active': (mode==2)}">Month</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <button class="btn btn-default" ng-if="differentiate==true" ng-click="toggle('differentiate')" >
                Show just signups
            </button>
            <button class="btn btn-default" ng-if="differentiate==false" ng-click="toggle('differentiate')" >
                Split signups from reps and non-reps
            </button>

            <button class="btn btn-default" ng-if="cumulative==false" ng-click="toggle('cumulative')" >
                Show {{ mode | unit }} over {{ mode | unit }} growth
            </button>
            <button class="btn btn-default" ng-if="cumulative==true" ng-click="toggle('cumulative')" >
                Show signups per {{ mode | unit }}
            </button>

            <button class="btn btn-default" ng-if="mode == 0" ng-click="zoomOut()">Zoom Out</button>
            <canvas id="line" options="line.options" class="chart chart-line" data="line.data" labels="line.labels" legend="true" series="line.series" click="line.onClick">
            </canvas>
        </div>
        <div class="col-md-5">
            <h3>Breakdown for these {{ mode | unit }}s</h3>
            <canvas id="pie" options="pie.options" class="chart chart-pie" data="pie.data" labels="pie.labels" legend="true"></canvas>
        </div>
    </div>
</div>
</body>
</html>