<!DOCTYPE html>
<html ng-app="dash-demo">
<head lang="en">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/js/bootstrap.min.js">

    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/Chart.js/Chart.min.js"></script>
    <link rel="stylesheet" href="/static/bower_components/angular-chart.js/dist/angular-chart.css">
    <script src="/static/bower_components/angular-chart.js/dist/angular-chart.js"></script>

    <script src="/static/app/app.js"></script>
    <script src="/static/app/dashboard/dashboard.js"></script>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<nav class="nav navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
    </div>
</div>
</nav>
<div class="container" ng-controller="dashTestCtrl">
    <div class="row">
        <div class="col-md-6">
            <input type="text" ng-model="startDate">
            <input type="text" ng-model="endDate">
            <button class="btn btn-default" id="sub" ng-click="getData()">Query!</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="line" class="chart chart-bar" data="bardata" labels="barlabels" legend="true" series="barseries" click="onClick">
            </canvas>
        </div>
    </div>
</div>
</body>
</html>