<!DOCTYPE html>
<html lang="en" ng-app="dash-demo">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/staticfiles/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/staticfiles/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/angular-chart.js/dist/angular-chart.css">

    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/Chart.js/Chart.min.js"></script>

    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/angular/angular.min.js"></script>
    <script src="https://dl.dropboxusercontent.com/u/6510851/dashboard-static/static/bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>

    <script src="/static/app/app.js"></script>
    <script src="/static/app/dashboard/dashboard.js"></script>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body onload="$('.datepicker').datepicker({})">
<nav class="nav navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>
    </div>
</div>
</nav>
<div class="container" ng-controller="dashTestCtrl">
    <div class="row">
        <h3>Signups per {{ mode | unit}}</h3>

        <div class="col-md-4" >
            <input type="tpext" class="datepicker" data-date-format="yyyy-mm-dd" ng-model="startDate">
            to
            <input type="text" class="datepicker" data-date-format="yyyy-mm-dd" ng-model="endDate">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="mode=0;" ng-class="{'active': (mode==0)}">D</button>
                <button type="button" class="btn btn-default" ng-click="mode=1;" ng-class="{'active': (mode==1)}">W</button>
                <button type="button" class="btn btn-default" ng-click="mode=2;" ng-class="{'active': (mode==2)}">M</button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-default" ng-click="nav.zoomOut()"><span class="glyphicon glyphicon-zoom-out"></span></button>
                <button class="btn btn-default" ng-click="nav.zoomIn()"><span class="glyphicon glyphicon-zoom-in"></span></button>
            </div>
            <a class="btn btn-default" id="download" download="chart.jpg" href="{{ downloadhref }}"><span class="glyphicon glyphicon-download-alt"></span></a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-default" ng-class="{'active': differentiate}" ng-click="toggle('differentiate')" >
                Rep/Non-Rep
            </button>
        </div>
        <div class="col-md-2">
            <div class="btn-group" role="group">
                <button type="button" ng-click="nav.back();" class="btn btn-default">&lt;&lt;</button>
                <button type="button" ng-click="nav.forward()" class="btn btn-default">&gt;&gt;</button>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-default" ng-class="{'active': cumulative}" ng-click="toggle('cumulative')" >
                {{ mode | unit }} over {{ mode | unit }} growth
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <canvas id="line" options="line.options" class="chart chart-line" data="line.data" labels="line.labels" legend="true" series="line.series" click="line.onClick">
            </canvas>
        </div>
        <div class="col-md-5">
            <h3>Breakdown for these {{ mode | unit }}s</h3>
            <canvas id="pie" options="pie.options" class="chart chart-pie" data="pie.data" labels="pie.labels" legend="true"></canvas>
        </div>
    </div>
</div>
</body>
</html>